
<style>
    .maincontainer{
        background:#bdc3c7;
        width: 100%;
        height:100%;
        display: flex;
        justify-content:center;
        align-items: center;
    }
    .box{
        background:#fff;
        width:80%;
        height:60%;
        border-radius: 10px;
        padding-left:20px;
        padding-right:20px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;

    }
.heading {
    font-size: 24px;
    font-weight:bold;
    font-family: oswald;
    padding: 5px;
    
    letter-spacing: 1;
}
.image{width:50px;
            height:50px}
    .headingdiv{
        display:flex;
        align-items: center;
        flex-direction:row;
        justify-content:space-between;
    }.formDiv{
        margin:5px;
    }
    .gap{margin-bottom: 10px;}
    .btnstyle{
        display:flex;
        align-items: center;
        justify-content: center;
    }
    </style>
<html>
    <head>
        <head>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </head>

    <div class="maincontainer">
        <div class="box">
            
            <div class="headingdiv">
            <div style="display: flex;">
                <div>
            <div><img src="/images/logo.jpg" class="image"></div>
            <div class="heading">Product Register</div>
            </div>
            </div>
            
            <div><a href='/products/product_interface' style="text-decoration: none;"><img src="/images/addproduct.png" style="width: 40px;" ></a></div>
            </div>
            
            <div>
            
        <%       
        if(data.length==0)
        { %>
            <%=message %>
            <% } else { %>
                <table class="table table-striped">
                    <tr>
                        <th>#</th>
                        <th>Id/name</th>
                        <th>Type/category</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>price</th><br>price offer</th>
                        <th>picture</th>
                        <th>Edit</th>
                    </tr>
        
                <% 
                    data.map((item,i)=>{ %>
                    <tr> <td><%=i+1 %></td>
                    <td><%=item.productid %>/<%=item.productname %></td>
                    <td><%=item.producttypename %>/<br><%=item.productcategoryname %></td>
                    <td><%=item.description %></td>
                    <td><s><%=item.price %>/</s><%=item.offer %></td>
                    <td><%=item.quantity %>/<%=item.quantitytype %></td>
                    <td><img src="/images/<%=item.productpicture%>" style="width:60px; height:60px; border-radius: 30px;"/> </td>
                    <td><a href="/products/displayforedit?productid=<%=item.productid %>" style="text-decoration:none;" ><img src="/images/edit.png" style="width:30px; height:30px; "/> </a></td>
                </tr>
                 <% }) %>
                </table>
            <% } %> 
            </div>    
            </div>
            </div>
</html>